.circles {
  opacity: 0;
  transition: all 1s;
  top: -100;
}
.cardSkill:hover .circles {
  opacity: 1;
  top: 0;
}
.animation-pulse {
  /*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
  transform: scale(0.8);*/
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      box-shadow: 0 0 0 0 rgb(235, 235, 235);
  }

  70% {
      /* transform: scale(1); */
      box-shadow: 0 0 0 12px rgba(229, 62, 62, 0);
  }

  100% {
      /* transform: scale(0.8); */
  }
}
